vi .gitignore
/db.sqlite3
/requirements.txt
public/static/documents/*
accounts/__pycache__/*
accounts/migrations/*
documents/__pycache__/*
documents/migrations/*
traino_env/__pycache__/*
traino_local/__pycache__/*