python-dotenv==1.0.1
django==5.0.6
django-autocomplete-light==3.11.0
djangorestframework==3.15.1
djoser==2.2.2
django-cors-headers==4.6.0
django-filter==24.2
django-phonenumber-field==7.3.0
phonenumbers==8.13.36
Pillow==10.3.0
djhacker==0.2.3
celery==5.4.0
apscheduler==3.10.4
pydantic
openai==1.61.1
django-countries==7.6.1
langchain-community==0.2.7
PyPDF2==3.0.1
chardet==5.2.0
pdfplumber==0.11.2
boto3==1.34.143
django-ses==4.1.0
gunicorn
django_cron
django-q
google-genai==1.0.0
google-auth==2.38.0
requests==2.32.3
mysqlclient==2.2.7
