
{% for fieldset in inline_admin_form %}
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length == 1 and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name == 'answer' %} hidden{% endif %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length == 1 %}{{ line.errors }}{% else %}<div class="flex-container form-multiline">{% endif %}
            {% for field in line %}
                <div>
                    {% if not line.fields|length == 1 and not field.is_readonly %}{{ field.errors }}{% endif %}
                        <div class="flex-container{% if not line.fields|length == 1 %} fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}{% elif field.is_checkbox %} checkbox-row{% endif %}">
                            {% if field.is_checkbox %}
                                {{ field.field }}{{ field.label_tag }}
                            {% else %}
                                {% if field.field.name == 'question' %}
                                    <label for="{{ field.field.id_for_label }}">Q{{ forloop.parentloop.parentloop.parentloop.counter }}:</label>
                                {% elif field.field.name == 'option_1' %}
                                    <label for="{{ field.field.id_for_label }}">A:</label>
                                {% elif field.field.name == 'option_2' %}
                                    <label for="{{ field.field.id_for_label }}">B:</label>
                                {% elif field.field.name == 'option_3' %}
                                    <label for="{{ field.field.id_for_label }}">C:</label>
                                {% elif field.field.name == 'option_4' %}
                                    <label for="{{ field.field.id_for_label }}">D:</label>
                                {% elif field.field.name == 'answer' %}
                                {% else %}
                                    {{ field.label_tag }}
                                {% endif %}

                                {% if field.is_readonly %}
                                    <div class="readonly">{{ field.contents }}</div>
                                {% else %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if field.field.name == 'option_1' %}
                                        <input type="radio" name="quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer_options" onclick="javascript: updateAnswer(this.value, 'id_quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer');" id="{{ field.field.id_for_label }}_option" value="0" >&nbsp;&nbsp;&nbsp;&nbsp;
                                        <!-- <input type="text" name="{{ field.field.id_for_label }}" value="{{ field.field.value }}" class="vRadioTextField" maxlength="255" id="{{ field.field.id_for_label }}"> -->
                                        {{ field.field }}
                                    {% elif field.field.name == 'option_2' %}
                                        <input type="radio" onclick="javascript: updateAnswer(this.value, 'id_quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer');" id="{{ field.field.id_for_label }}_option" name="quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer_options" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;{{ field.field }}
                                    {% elif field.field.name == 'option_3' %}
                                        <input type="radio" onclick="javascript: updateAnswer(this.value, 'id_quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer');" id="{{ field.field.id_for_label }}_option" name="quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer_options" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;{{ field.field }}
                                    {% elif field.field.name == 'option_4' %}
                                        <input type="radio" onclick="javascript: updateAnswer(this.value, 'id_quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer');" id="{{ field.field.id_for_label }}_option" name="quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer_options" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;{{ field.field }}
                                    {% elif field.field.name == 'answer1' %}
                                        <input type="hidden" class="correct-answer" name="quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer" value="{{ field.contents }}" id="id_quizquestions_set-{{ forloop.parentloop.parentloop.parentloop.counter0 }}-answer">
                                    {% else %}
                                        {{ field.field }}
                                    {% endif %}
                                    
                                {% endif %}
                            {% endif %}
                        </div>
                    {% if field.field.help_text %}
                        <div class="help"{% if field.field.id_for_label %} id="{{ field.field.id_for_label }}_helptext"{% endif %}>
                            <div>{{ field.field.help_text|safe }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% if not line.fields|length == 1 %}</div>{% endif %}
        </div>
    {% endfor %}
{% endfor %}
